<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
<div class="container">
  <div class="form-container">

    <div th:if="${param.error}">
      <div class="error-message">
        <p>Invalid Username or Password</p>
      </div>
    </div>

    <div th:if="${param.logout}">
      <div class="logout-message">
        <p>Logout Successful!</p>
      </div>
    </div>

    <h2>Login</h2>
    <form th:action="@{/login}" method="post" role="form" th:object="${user}">

      <label for="username">Username:</label>
      <input  type="text" id="username" name="username"
             placeholder="Enter your Username" required>

      <label for="password">Password:</label>
      <input  type="password" id="password" name="password"
             placeholder="Enter your Password" required>

      <button type="submit">Login</button>
    </form>
    <p class="form-footer">Don't have an account? <a th:href="@{/register}">Register</a> here.</p>
  </div>
</div>
</body>

</html>